## Importing Libraries

<h5><b><u> Code Written by Chirag Lalwani </b></u> </h5>

In [ ]:

from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup

In [ ]:

my_url=  "https://www.flipkart.com/search?q=samsung+mobiles&amp;sid=tyy%2C4io&amp;as=on&amp;as-show=on&amp;otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&amp;otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&amp;as-pos=1&amp;as-type=RECENT&amp;suggestionId=samsung+mobiles%7CMobiles&amp;requestId=18944876-a6ef-44c0-ac67-d31d7b11a548&amp;as-backfill=on"
uClient= uReq(my_url)
page_html= uClient.read()
uClient.close()

In [ ]:
uClient

In [ ]:
my_url

In [ ]:
page_html

In [ ]:
page_soup= soup(page_html)
page_soup

## Inspect tht page and find class

In [ ]:
containers= page_soup.findAll("div", {"class": "_13oc-S"})
print(len(containers))

24

## Storing in flipkart.csv

In [ ]:
import re
filename= "flipkart.csv"
f= open(filename, "w",encoding="UTF-8")

headers= "Mobile_Name,Price,Ratings,Technical_Specifications\n"
f.write(headers)

for container in containers:
    name= container.findAll('div',{"class":"_4rR01T"})
    Name= name[0].text
    Name = re.sub(r"[\(\)]",'',Name)
    Name=Name.replace(",","")
    price= container.findAll("div", {"class": "_30jeq3 _1_WHN1"})
    Price=price[0].text
    Price=Price.replace(",","")
    Price = re.sub('[^A-Za-z0-9]+', '', Price)
    rating=container.findAll("div", {"class": "_3LWZlK"})
    Ratings=rating[0].text
    specification =container.findAll("ul", {"class": "_1xgFaf"})
    Specification=specification[0].text

    f.write(Name + ","+ Price + "," + Ratings + "," + Specification+"\n")

  
f.close()

In [ ]:
import pandas as pd
data = pd.read_csv("flipkart.csv", encoding="latin-1")
data

,Mobile_Name,Price,Ratings,Technical_Specifications
0,SAMSUNG Galaxy F22 Denim Black 64 GB,11999,4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....
1,SAMSUNG Galaxy F22 Denim Blue 64 GB,11999,4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....
2,SAMSUNG Galaxy F22 Denim Black 128 GB,13999,4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
3,SAMSUNG Galaxy F23 5G Aqua Blue 128 GB,16999,4.1,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
4,SAMSUNG Galaxy M32 Light Blue 128 GB,14550,4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
5,SAMSUNG Galaxy F22 Denim Blue 128 GB,13999,4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
6,SAMSUNG Galaxy M33 5G Deep Ocean Blue 128 GB,16725,4.0,6 GB RAM | 128 GB ROM16.76 cm (6.6 inch) Displ...
7,SAMSUNG Galaxy F23 5G Aqua Blue 128 GB,15999,4.1,4 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
8,SAMSUNG Galaxy M32 Black 128 GB,14590,4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
9,SAMSUNG Galaxy F23 5G Copper Blush 128 GB,16999,4.1,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
10,SAMSUNG GURU MUSIC 2,1994,4.2,8 MB RAM | 0 GB ROM | Expandable Upto 16 GB5.0...
11,SAMSUNG Galaxy F23 5G Forest Green 128 GB,16999,4.1,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
12,SAMSUNG GURU GT,1494,4.1,0 MB ROM3.81 cm (1.5 inch) Display800 mAh Batt...
13,SAMSUNG Guru Music 2,1994,4.1,0.53 RAM | NA KB ROM | Expandable Upto 16 GB5....
14,SAMSUNG Galaxy M33 5G Mystique Green 128 GB,16749,4.0,6 GB RAM | 128 GB ROM16.76 cm (6.6 inch) Displ...
15,SAMSUNG Guru Music 2,1994,4.3,NA ROM5.08 cm (2 inch) NA Display800 mAh Batte...
16,SAMSUNG Guru Music 2,1994,4.3,NA ROM5.08 cm (2 inch) NA Display800 mAh Batte...
17,SAMSUNG GURU GT,1494,4.1,153 MB RAM | 153 MB ROM3.81 cm (1.5 inch) Disp...
18,SAMSUNG Galaxy M12 Blue 64 GB,10285,4.2,4 GB RAM | 64 GB ROM16.51 cm (6.5 inch) Displa...
19,SAMSUNG Galaxy M12 Black 64 GB,11300,4.2,4 GB RAM | 64 GB ROM16.51 cm (6.5 inch) Displa...
20,SAMSUNG Guru Music 2 SM-B315E,1994,4.2,Expandable Upto 16 GB5.08 cm (2 inch) QVGA Dis...
21,SAMSUNG GT-E1215,1494,4.3,NA ROM3.81 cm (1.5 inch) NA Display800 mAh Bat...
22,SAMSUNG Galaxy F12 Celestial Black 64 GB,11499,4.3,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...
23,SAMSUNG Galaxy F12 Sea Green 64 GB,11499,4.3,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...

In [ ]:
#html upload
my_url=  "https://www.amazon.in/s?k=samsung&rh=n%3A1389401031&ref=nb_sb_noss"
uClient= uReq(my_url)
page_html= uClient.read()
uClient.close()

In [ ]:
uClient

In [ ]:
my_url

In [ ]:
page_html

In [ ]:
page_soup= soup(page_html)
page_soup

In [ ]:
containers= page_soup.findAll('div', {"class":"sg-col sg-col-4-of-12 sg-col-8-of-16 sg-col-12-of-20 s-list-col-right"})
containers
print(len(containers))

24

In [ ]:
filename= "amazon.csv"
f= open(filename, "w")

headers= "Mobile_Name,Price,Ratings,Links,Discounts\n"
f.write(headers)

for phone in containers:
    name= phone.findAll("span",{"class":"a-size-medium a-color-base a-text-normal"})
    Name= name[0].text
    Name=Name.replace(",","")
    link=phone.findAll("a")
    Link=link[0].attrs['href']
    price= phone.findAll("span", {"class": "a-offscreen"})
    Price=price[0].text
    Price = re.sub('[^A-Za-z0-9]+', '', Price)
    rating=phone.findAll("span", {"class": "a-icon-alt"})
    Ratings=rating[0].text
    discount =phone.findAll("span", {"class": None})
    Discount=discount[4].text
    print(Name + ","+ Price + "," + Ratings + ","+Link+"," + Discount+"\n")
    f.write(Name + ","+ Price + "," + Ratings + ","+Link+"," + Discount+"\n")
f.close()

In [ ]:
import pandas as pd
data1 = pd.read_csv("amazon.csv", encoding="latin-1")
data1

,Mobile_Name,Price,Ratings,Links,Discounts
0,Samsung Galaxy M12 (Blue4GB RAM 64GB Storage) ...,10499,4.1 out of 5 stars,/Samsung-Galaxy-M12-Storage-Processor/dp/B08XG...,(19% off)
1,Samsung Galaxy M12 (Black4GB RAM 64GB Storage)...,10499,4.1 out of 5 stars,/Samsung-Galaxy-M12-Storage-Processor/dp/B08XJ...,(19% off)
2,Samsung Galaxy M32 (Light Blue 6GB RAM 128GB |...,16999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(11% off)
3,Samsung Galaxy M32 (Black 4GB RAM 64GB | FHD+ ...,14999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(12% off)
4,Samsung Galaxy S20 FE 5G (Cloud Navy 8GB RAM 1...,36990,4.4 out of 5 stars,/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB57558,(51% off)
5,Samsung Galaxy M32 5G (Sky Blue 8GB RAM 128GB ...,22999,4.1 out of 5 stars,/Samsung-Galaxy-Blue-128GB-Storage/dp/B09CGJFY5N,(12% off)
6,Samsung Galaxy A13 Blue 4GB RAM 64GB Storage w...,13999,3.6 out of 5 stars,/Samsung-Storage-Additional-Exchange-SM-A135FL...,(24% off)
7,Samsung Galaxy M32 (Black 6GB RAM 128GB | FHD+...,16999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(11% off)
8,Samsung Galaxy M33 5G (Deep Ocean Blue 8GB 128...,19499,3.9 out of 5 stars,/Samsung-Storage-Adapter-Purchased-Separately/...,(25% off)
9,Samsung Galaxy A23 Blue 6GB RAM 128GB Storage ...,18499,3.8 out of 5 stars,/Samsung-Galaxy-Storage-Additional-Exchange/dp...,(23% off)
10,Samsung Galaxy Buds Pro | 99% Noise Cancellati...,7490,4.2 out of 5 stars,/Samsung-Galaxy-Ear-Buds-Black/dp/B08SKDXKZF,(58% off)
11,Samsung Galaxy M32 (Light Blue 4GB RAM 64GB | ...,14999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(12% off)
12,Samsung Galaxy M33 5G (Deep Ocean Blue 6GB 128...,17999,3.9 out of 5 stars,/Samsung-Storage-Adapter-Purchased-Separately/...,(28% off)
13,Samsung Guru 1215 (GT-E1215 Black),1494,3.9 out of 5 stars,/Samsung-Guru-1215-GT-E1215-Black/dp/B09MTVDZCL,(29% off)
14,Samsung Galaxy A13 Blue 6GB RAM 128GB Storage ...,16499,3.6 out of 5 stars,/Samsung-Storage-Additional-Exchange-SM-A135FL...,(17% off)
15,Samsung Galaxy A23 Peach 8GB RAM 128GB Storage...,19999,3.8 out of 5 stars,/Samsung-Galaxy-Storage-Additional-Exchange/dp...,(18% off)
16,Samsung Galaxy M32 5G (Slate Black 6GB RAM 128...,20999,4.1 out of 5 stars,/Samsung-Galaxy-Slate-Black-Storage/dp/B09CGLRLYM,(13% off)
17,Samsung Galaxy M53 5G (Mystique Green 6GB 128G...,26499,3.8 out of 5 stars,/Samsung-Mystique-Storage-Purchased-Separately...,(20% off)
18,Samsung Galaxy A13 Blue 4GB RAM 128GB Storage ...,14999,3.6 out of 5 stars,/Samsung-Storage-Additional-Exchange-SM-A135FL...,(25% off)
19,Samsung EHS64 EHS64AVFWECINU Wired In Ear Earp...,419,4.2 out of 5 stars,/Samsung-Original-EHS64AVFWECINU-Stereo-Headse...,(16% off)
20,Samsung Galaxy S20 FE 5G (Cloud Mint 8GB RAM 1...,36990,4.4 out of 5 stars,/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB2MRF8,(51% off)
21,Samsung Galaxy Watch4 Bluetooth(44mm Black Com...,15189,4.2 out of 5 stars,/Samsung-Galaxy-Bluetooth-Compatible-Android/d...,(49% off)
22,Samsung Guru Music 2 315 (GT-B315 Black) (SM-B...,1994,4.1 out of 5 stars,/Samsung-Guru-Music-GT-B315-Black/dp/B09MKT9ZYM,(20% off)
23,Samsung Galaxy M33 5G (Mystique Green 6GB 128G...,17999,3.9 out of 5 stars,/Samsung-Mystique-Storage-Purchased-Separately...,(28% off)

Create a CSV file for the Task A &amp; B containing all the possible details.

a. Get the phone details with min and max price of the phone in Amazon &amp; flipkart.

b. Get the price of Samsung Galaxy F12 options available with price comparison in
Amazon &amp; flipkart.

In [ ]:
amz2=pd.DataFrame(data1[data1.Price == data1.Price.max()])
amz3=pd.DataFrame(data1[data1.Price == data1.Price.min()])
print("Maximum Price in Amazon")
amz2

Maximum Price in Amazon

,Mobile_Name,Price,Ratings,Links,Discounts
4,Samsung Galaxy S20 FE 5G (Cloud Navy 8GB RAM 1...,36990,4.4 out of 5 stars,/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB57558,(51% off)
20,Samsung Galaxy S20 FE 5G (Cloud Mint 8GB RAM 1...,36990,4.4 out of 5 stars,/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB2MRF8,(51% off)

In [ ]:
print("Minimum Price in Amazon")
amz3

Minimum Price in Amazon

,Mobile_Name,Price,Ratings,Links,Discounts
19,Samsung EHS64 EHS64AVFWECINU Wired In Ear Earp...,419,4.2 out of 5 stars,/Samsung-Original-EHS64AVFWECINU-Stereo-Headse...,(16% off)

In [ ]:
data

                  Name  Rating        Ram   Battery  Price
0   SAMSUNG Galaxy F22     4.3  4 GB RAM   6000 mAh   11999
1   SAMSUNG Galaxy F22     4.3  6 GB RAM   6000 mAh   13999
2   SAMSUNG Galaxy F22     4.3  4 GB RAM   6000 mAh   11999
3   SAMSUNG Galaxy F23     4.1  6 GB RAM   5000 mAh   16999
4   SAMSUNG Galaxy F23     4.1  6 GB RAM   5000 mAh   16999
5   SAMSUNG Galaxy F22     4.3  6 GB RAM   6000 mAh   13999
6   SAMSUNG Galaxy M33     4.0  6 GB RAM   6000 mAh   16729
7   SAMSUNG Galaxy F23     4.1  4 GB RAM   5000 mAh   15999
8   SAMSUNG Galaxy M32     4.3  6 GB RAM   6000 mAh   14590
9   SAMSUNG Galaxy F23     4.1  6 GB RAM   5000 mAh   16999
10  SAMSUNG GURU MUSIC     4.2  8 MB RAM   800 mAh     1994
11  SAMSUNG Galaxy M12     4.2  4 GB RAM   6000 mAh   10285
12  SAMSUNG Galaxy M33     4.0  6 GB RAM   6000 mAh   16749
13  SAMSUNG Guru Music     4.1  0.53 RAM   800 mAh     1994
14  SAMSUNG Galaxy M12     4.2  4 GB RAM   6000 mAh   11300
15  SAMSUNG Guru Music     4.2  Expandabl  800 mAh     1994
16  SAMSUNG Galaxy M12     4.2  6 GB RAM   6000 mAh   13599
17  SAMSUNG Galaxy M52     4.2  8 GB RAM   5000 mAh   26990

In [ ]:
data1

,Mobile_Name,Price,Ratings,Links,Discounts
0,Samsung Galaxy M12 (Blue4GB RAM 64GB Storage) ...,10499,4.1 out of 5 stars,/Samsung-Galaxy-M12-Storage-Processor/dp/B08XG...,(19% off)
1,Samsung Galaxy M12 (Black4GB RAM 64GB Storage)...,10499,4.1 out of 5 stars,/Samsung-Galaxy-M12-Storage-Processor/dp/B08XJ...,(19% off)
2,Samsung Galaxy M32 (Light Blue 6GB RAM 128GB |...,16999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(11% off)
3,Samsung Galaxy M32 (Black 4GB RAM 64GB | FHD+ ...,14999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(12% off)
4,Samsung Galaxy S20 FE 5G (Cloud Navy 8GB RAM 1...,36990,4.4 out of 5 stars,/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB57558,(51% off)
5,Samsung Galaxy M32 5G (Sky Blue 8GB RAM 128GB ...,22999,4.1 out of 5 stars,/Samsung-Galaxy-Blue-128GB-Storage/dp/B09CGJFY5N,(12% off)
6,Samsung Galaxy A13 Blue 4GB RAM 64GB Storage w...,13999,3.6 out of 5 stars,/Samsung-Storage-Additional-Exchange-SM-A135FL...,(24% off)
7,Samsung Galaxy M32 (Black 6GB RAM 128GB | FHD+...,16999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(11% off)
8,Samsung Galaxy M33 5G (Deep Ocean Blue 8GB 128...,19499,3.9 out of 5 stars,/Samsung-Storage-Adapter-Purchased-Separately/...,(25% off)
9,Samsung Galaxy A23 Blue 6GB RAM 128GB Storage ...,18499,3.8 out of 5 stars,/Samsung-Galaxy-Storage-Additional-Exchange/dp...,(23% off)
10,Samsung Galaxy Buds Pro | 99% Noise Cancellati...,7490,4.2 out of 5 stars,/Samsung-Galaxy-Ear-Buds-Black/dp/B08SKDXKZF,(58% off)
11,Samsung Galaxy M32 (Light Blue 4GB RAM 64GB | ...,14999,4.1 out of 5 stars,/Samsung-Galaxy-Storage-Months-Replacement/dp/...,(12% off)
12,Samsung Galaxy M33 5G (Deep Ocean Blue 6GB 128...,17999,3.9 out of 5 stars,/Samsung-Storage-Adapter-Purchased-Separately/...,(28% off)
13,Samsung Guru 1215 (GT-E1215 Black),1494,3.9 out of 5 stars,/Samsung-Guru-1215-GT-E1215-Black/dp/B09MTVDZCL,(29% off)
14,Samsung Galaxy A13 Blue 6GB RAM 128GB Storage ...,16499,3.6 out of 5 stars,/Samsung-Storage-Additional-Exchange-SM-A135FL...,(17% off)
15,Samsung Galaxy A23 Peach 8GB RAM 128GB Storage...,19999,3.8 out of 5 stars,/Samsung-Galaxy-Storage-Additional-Exchange/dp...,(18% off)
16,Samsung Galaxy M32 5G (Slate Black 6GB RAM 128...,20999,4.1 out of 5 stars,/Samsung-Galaxy-Slate-Black-Storage/dp/B09CGLRLYM,(13% off)
17,Samsung Galaxy M53 5G (Mystique Green 6GB 128G...,26499,3.8 out of 5 stars,/Samsung-Mystique-Storage-Purchased-Separately...,(20% off)
18,Samsung Galaxy A13 Blue 4GB RAM 128GB Storage ...,14999,3.6 out of 5 stars,/Samsung-Storage-Additional-Exchange-SM-A135FL...,(25% off)
19,Samsung EHS64 EHS64AVFWECINU Wired In Ear Earp...,419,4.2 out of 5 stars,/Samsung-Original-EHS64AVFWECINU-Stereo-Headse...,(16% off)
20,Samsung Galaxy S20 FE 5G (Cloud Mint 8GB RAM 1...,36990,4.4 out of 5 stars,/Samsung-Galaxy-Cloud-128GB-Storage/dp/B08VB2MRF8,(51% off)
21,Samsung Galaxy Watch4 Bluetooth(44mm Black Com...,15189,4.2 out of 5 stars,/Samsung-Galaxy-Bluetooth-Compatible-Android/d...,(49% off)
22,Samsung Guru Music 2 315 (GT-B315 Black) (SM-B...,1994,4.1 out of 5 stars,/Samsung-Guru-Music-GT-B315-Black/dp/B09MKT9ZYM,(20% off)
23,Samsung Galaxy M33 5G (Mystique Green 6GB 128G...,17999,3.9 out of 5 stars,/Samsung-Mystique-Storage-Purchased-Separately...,(28% off)

In [ ]:
flipkart1=pd.DataFrame(data[data.Price == data.Price.max()])
flipkart2=pd.DataFrame(data[data.Price == data.Price.min()])
print("Maximum Price")
flipkart1

Maximum Price

,Mobile_Name,Price,Ratings,Technical_Specifications
3,SAMSUNG Galaxy F23 5G Aqua Blue 128 GB,16999,4.1,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
9,SAMSUNG Galaxy F23 5G Copper Blush 128 GB,16999,4.1,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
11,SAMSUNG Galaxy F23 5G Forest Green 128 GB,16999,4.1,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...

In [ ]:
print("Minimum price")
flipkart2

Minimum price

,Mobile_Name,Price,Ratings,Technical_Specifications
12,SAMSUNG GURU GT,1494,4.1,0 MB ROM3.81 cm (1.5 inch) Display800 mAh Batt...
17,SAMSUNG GURU GT,1494,4.1,153 MB RAM | 153 MB ROM3.81 cm (1.5 inch) Disp...
21,SAMSUNG GT-E1215,1494,4.3,NA ROM3.81 cm (1.5 inch) NA Display800 mAh Bat...

b. Get the price of Samsung Galaxy F12 options available with price comparison in
Amazon &amp; flipkart.

In [ ]:
phone = data.loc[(data['Mobile_Name'] == 'SAMSUNG Galaxy F12 Celestial Black 64 GB') | (data['Mobile_Name'] == 'SAMSUNG Galaxy F12 Sea Green 64 GB')]
phone

,Mobile_Name,Price,Ratings,Technical_Specifications
22,SAMSUNG Galaxy F12 Celestial Black 64 GB,11499,4.3,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...
23,SAMSUNG Galaxy F12 Sea Green 64 GB,11499,4.3,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...